

<style>
  .publicity {
    background-color: #a6120d81;
    padding: 100px 20px;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: 'Jura';
  }
  .angular {
    width: 50%;
    margin-bottom: 50px;
  }
  .course-link {
    color: black;
    cursor: pointer;
    margin-top: 50px;
  }
  .title {
    margin-bottom: 20px;
  }
  li {
    margin-top: 15px;
  }
  .discount {
    margin-top: 40px;
  }
  .price {
    font-size: 40px;
  }

</style>


<div class='publicity' >
  <img class='angular' alt='angular logotype' src='https://upload.wikimedia.org/wikipedia/commons/thumb/c/cf/Angular_full_color_logo.svg/1024px-Angular_full_color_logo.svg.png'/>
  <h1 class='title'>Best Angular Course 2021</h1>
  <ul class='points'>
    <li>- How to build web pages</li>
    <li>- Styled components</li>
    <li>- Building your first todo</li>
  </ul>
  <p class='discount'>from: <s>US 322,00</s></p>
  <p class='price'>U$ 95,99</p>
  <a href='' class='course-link'>www.myanglularcouse.com</a>
</div>

